body nav a {
    color: black;
}
nac a {
    color: #000980;
}
a {
    color: red;
}
body ul #Onion {
    background: green;
}
ul #Onion {
    background: orange;
}
#Onion {
    background: red;
}